diff --git a/.env.SAMPLE b/.env.SAMPLE
index f6c40c6b..07b823dc 100644
--- a/.env.SAMPLE
+++ b/.env.SAMPLE
@@ -1,2 +1,4 @@
-GOOGLE_CLIENT_ID=
-GOOGLE_CLIENT_SECRET=
+GOOGLE_CLIENT_ID=see-instructions-in-readme
+GOOGLE_CLIENT_SECRET=see-instructions-in-readme
+ADMIN_EMAILS=phtcon@ucsb.edu
+
