diff --git a/.env.SAMPLE b/.env.SAMPLE
index 07b823d..5725722 100644
--- a/.env.SAMPLE
+++ b/.env.SAMPLE
@@ -2,3 +2,4 @@ GOOGLE_CLIENT_ID=see-instructions-in-readme
 GOOGLE_CLIENT_SECRET=see-instructions-in-readme
 ADMIN_EMAILS=phtcon@ucsb.edu
 
+CHROMATIC_PROJECT_TOKEN=see-instructions-in-readme
\ No newline at end of file
